#alert {
    box-sizing: border-box;
    position: fixed;
    left: calc(50% - 250px);
    top: 50%;
    width: 500px;
    border: 2px solid #000;
    background: #f1f1f1;
    transform: translateY(-50%);
}
.alert-header {
    font: 20px/40px "宋体";
    text-align: center;
    border-bottom: 1px solid #000;
}