<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link ref="stylesheet", href="css/detail.css", type="text/css">
    <title>新闻标题</title>
</head>
<body>
    <div class="text">
        <h1 class="title">{{item.title}}</h1>
        <div class="article-info">{{item.form}} {{item.newTime}}</div>
        <p class= "content">{{item.title}}</p>
    </div>
</body>
</html>