<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文章信息展示</title>
    <link rel='stylesheet', href='css/index.css', type='text/css'>
   
</head>
<body>
    <div class="wrap">
        <ul class="news-list">
            {% for item in newslist %}
            <li class="news">
                <a href="javascript:;">
                    <img src="{{item.imgUrl}}" alt="">
                </a>
                <div>
                    <h3>
                        <a href="detail?id={{item.id}}">{{item.title}}</a>
                    </h3>
                    <div class="info">
                        <span class="tips"><span>{{item.form}}</span></span>
                        <span class="time">| &nbsp;&nbsp;{{item.newTime}}</span>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>

        <div class="pagination">
                <a href="/index?page={{prePage}}" class="prev">⌜</a>
                {% for item in pageArr %}
                <a href="/index?page={{item}}">{{item}}</a>
                {% endfor %}
                <a href="/index?page={{nextPage}}" class="next">⌝</a>
            </div>
    </div>
    
</body>
</html>