<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div id="app">
        <input type="text" v-model="keyWord">
        <hr>
        <ul>
            <li v-for="user of showUsers">
                {{user.username}}
            </li>
        </ul>
    </div>

    <script src="./js/vue.js"></script>

    <script>

        let app = new Vue({
            el: '#app',
            data: {
                keyWord: '',
                users: [
                    {id: 1, username: 'baogege', gender: '男',checked:false},
                    {id: 2, username: 'mt', gender: '男',checked:false},
                    {id: 3, username: 'haigege', gender: '男',checked:false},
                    {id: 4, username: 'zMouse', gender: '男',checked:false},
                    {id: 5, username: 'reci', gender: '女',checked:false},
                    {id: 6, username: 'lisi', gender: '女',checked:false}
                ],
                showUsers: []
            },
            watch: {
                keyWord() {
                    setTimeout(() => {
                        this.showUsers = this.users.filter( user => user.username.includes(this.keyWord) );
                    }, 1000);
                }
            }

        });

    </script>

</body>
</html>